body {
	background-color:black;
	background-image: url("bg-rep.png");
	font-family: Trebuchet MS1, Trebuchet MS, sans-serif;
	color: white;

}
#wrapper {
  padding: 2% 5% 2% 5%;
}
#pick_cards {

}
#pick_round_amount {
	display:none;
}
#board {
	display:none;
}
