/*
---------CSS FILE OF HORSeRACE----------
*/
body {
	background-color:black;
	background-image: url("bg-rep.png");
	font-family: Trebuchet MS1, Trebuchet MS, sans-serif;
	color: white;

}
#wrapper {
  padding: 5% 10% 5% 10%;
	margin 0;
}

#pick_cards {
width:60%;
height:40%;
}

#pick_cards_tbl {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

#pick_cards_tbl div {
	border-radius: 3px;
	padding: 3px 5px 3px 5px;
	background-color: white;
	color: black;
	height: 100%;

}
#pick_cards_tbl div.inv_div {
	display:none;
}
#pick_cards_tbl div.next_div {
	background-color: green;
}
#pick_cards_tbl div.previous_div {
	background-color: red;
}
#pick_cards_tbl tr {

}
#pick_cards_tbl td {

	padding-right: 3%;
	padding-bottom: 3%;
}
#pick_cards_tbl td.last_hor {

}
#pick_round_amount {
	width:60%;
	height:40%;
}

#pick_round_amount_tbl {
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
#pick_round_amount_tbl div {
	padding: 3px 5px 3px 5px;
	background-color: white;
	color: black;
	height: 100%;
	border-radius: 3px;
}
#pick_round_amount_tbl div.next_div {
	background-color: green;
}
#pick_round_amount_tbl div.previous_div {
	background-color: red;
}
#pick_round_amount_tbl tr {

}
#pick_round_amount_tbl td {
	width: 20%;
	padding-right: 3%;
	padding-bottom: 3%;

}
#board {
	width:100%;
	height:40%;
}
#board_tbl {
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
#board_tbl div {
	padding: 3px 5px 3px 5px;
	background-color: white;
	color: black;
	height: 100%;
	border-radius: 3px;
}
#board_tbl div.next_div {
	background-color: green;
}
#board_tbl div.previous_div {
	background-color: red;
}
#board_tbl tr {

}
#board_tbl td {
	width: 20%;
	padding-right: 3%;
	padding-bottom: 3%;

}
#stepping_cards {
	background-color: yellow;
	width: 100%;

}

.hidden{
	display: none;
}
.show {
	display: block;
}

.active{
	/* offset-x | offset-y | blur-radius | color */
	box-shadow: 0px 0px 20px black inset;
}

.row{
	display: block;
	width:100%;
}
.card{
	display: inline-block;
	width: 87px; /* same as orignial, to make js work correctly*/
}
.pile{
	margin-left:-65px;
}
.pile:first-child{
	margin-left: 0px;
}
